doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      section
        h2 Cara Menginstal Windows 8 lewat FD
        h3 TEAM_IDV2
      section
        h2 Nama Kelompok TEAM
        h3 Obbie Cristian
        h3 Imal Zaya Harahap
        h3 Kadek Sukawati
        h3 Dwi Herydo Gultom
      section
        h2 Persiapan
        h3.bullet Langkah - langkah
        ul
          li 1.Siapkan bahan - bahan
          li 2.Install windows 8 ke FD
          li 3. Ubah pengaturan Boot Order / Boot Priority
          li 4.Install windows 8
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 1. Siapkan Bahan - Bahan
        h3.bullet Bahan - bahannya sebagai berikut:
        ul
          li FlashDisc Minimal 8 Giga
          li
            img(src='1.1.jpg', width='200px', height='50px')
          li Software Ultra Iso
          li
            img(src='1.2.jpg', width='200px', height='50px')
          li Iso Windows 8
          li
            img(src='1.3.png', width='200px', height='50px')
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 2. Install Windows 8 ke FD
        h3 Buka Ultra Iso dengan Run As Adminstrator
        img(src='2.1.png', width='600px', height='400px')
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Cont..
        h3 Klik File lalu klik Open dan cari data ISO win 8
        img(src='2.2.png', width='600px', height='400px')
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Cont..
        h3 Klik Bootable lalu klik Write Disk Image
        img(src='2.3.png', width='600px', height='400px')
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Cont..
        h3 Klik Disk Drive dan Pilih FD
        img(src='2.4.png', width='600px', height='400px')
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Cont..
        h3 Klik Format dan Format FD
        img(src='2.5.png', width='600px', height='400px')
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Cont..
        h3 Klik Write dan tunggu sampai selesai
        img(src='2.6.png', width='600px', height='400px')
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 3. Ubah pengaturan Boot Order / Boot Priority
        h3 Masuk Ke Bios
        img(src='3.1.png', width='500px', height='300px')
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Cont..
        h3 Geser Kursor ke Boot
        img(src='3.2.png', width='600px', height='400px')
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Cont..
        h3 Geser Kursor Boot Device Priority lalu tekan Enter
        img(src='3.3.png', width='600px', height='400px')
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Cont..
        h3 Ubah Flashdisc ke urutan no 1 
        img(src='3.4.png', width='600px', height='400px')
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Cont..
        h3 tekan ESC lalu geser kursor ke Exit dan geser ke Save Changes and Exit 
        img(src='3.5.png', width='600px', height='400px')
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Cont..
        h3
          | Catatan : Setelah install win 8 dan ketika merestart otomatis pertama kali, masuk kebios dan ubah lagi boot priority nya menjadi no 1. harddisk kita
        img(src='')
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 4.Install windows 8
        h3 Klik Instal Now
        img(src='4.1.png', width='600px', height='400px')
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Cont..
        h3 Ubah Tanggal dan Currency Format , Lalu Klik Next
        img(src='4.2.png', width='600px', height='400px')
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Cont..
        h3 Beri cek di I accept the license term dan klik Next
        img(src='4.3.png', width='600px', height='400px')
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Cont..
        h3 Pilih Custom : Install Windows Only
        img(src='4.4.png', width='600px', height='400px')
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Cont..
        h3 Pilih Partisi lalu klik Next
        img(src='4.5.png', width='600px', height='400px')
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Cont..
        h3 Tunggu Sampai selesai
        img(src='4.6.png', width='600px', height='400px')
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Cont..
        h3 Di personnalize Buat PC name nya lalu next
        img(src='4.7.png', width='600px', height='400px')
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Cont..
        h3 Setings Pilih Use express settings
        img(src='4.8.png', width='600px', height='400px')
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Cont..
        h3
          | Di Sign In to Your PC masukan Username, Password, Reenter Password, dan Password Hint lalu klik Next
        img(src='4.9.png', width='600px', height='400px')
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Cont..
        h3 Selesai
        img(src='4.10.png', width='600px', height='400px')
    script(src='build/build.js')
